In [1]:
import pandas as pd

### Cleanning the data set

In [27]:
dataset = pd.read_csv("2018.csv")
# change ARR_DELAY column: "0" will correspond to a flight being on time, and a "1" to a flight being delayed.

status = []
for value in dataset['ARR_DELAY']:
    if value < 0:
        status.append(0)
    else:
        status.append(1)
dataset['ARR_DELAY'] = status
dataset['DAY'] = pd.DatetimeIndex(dataset['FL_DATE']).day
dataset['MONTH'] = pd.DatetimeIndex(dataset['FL_DATE']).month

#rearange the data set : set the lable (ARR_DELAY) on the last column and drop (FL_DATE) column.
dataset = dataset.reindex(columns = ['DAY','MONTH','ORIGIN','DEST','DISTANCE','DEP_TIME','ARR_TIME','ARR_DELAY'])
dataset.head(10)

   DAY  MONTH ORIGIN DEST  DISTANCE  DEP_TIME  ARR_TIME  ARR_DELAY
0    1      1    EWR  DEN    1605.0    1512.0    1722.0          0
1    1      1    LAS  SFO     414.0    1107.0    1230.0          0
2    1      1    SNA  DEN     846.0    1330.0    1636.0          0
3    1      1    RSW  ORD    1120.0    1552.0    1754.0          0
4    1      1    ORD  ALB     723.0     650.0     936.0          1
5    1      1    ORD  OMA     416.0    2244.0       3.0          0
6    1      1    IAH  LAS    1222.0     747.0     900.0          0
7    1      1    DEN  CID     692.0    1318.0    1600.0          0
8    1      1    SMF  EWR    2500.0    2237.0     636.0          0
9    1      1    RIC  DEN    1482.0    1559.0    1756.0          0

Because of the fact that Logistic Regression cannot use non-numeric data
we use one hot encoding with pandas library to convert the non numerical columns to numerical values.

It is **important** to mention that the size of the dataset will be significantly larger (7076406 , 724).

Thus, the model will work with a data that is a thousandth smaller than the original dataset.

In [28]:
dataset = pd.get_dummies(dataset,columns = ['ORIGIN','DEST'])
y_lable = dataset.pop('ARR_DELAY')
dataset = dataset.join(y_lable)
dataset.head(10)

,DAY,MONTH,DISTANCE,DEP_TIME,ARR_TIME,ORIGIN_ABE,ORIGIN_ABI,ORIGIN_ABQ,ORIGIN_ABR,ORIGIN_ABY,...,DEST_VEL,DEST_VLD,DEST_VPS,DEST_WRG,DEST_WYS,DEST_XNA,DEST_YAK,DEST_YNG,DEST_YUM,ARR_DELAY
0,1,1,1605.0,1512.0,1722.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,414.0,1107.0,1230.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,846.0,1330.0,1636.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1120.0,1552.0,1754.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,723.0,650.0,936.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,1,1,416.0,2244.0,3.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,1,1222.0,747.0,900.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,1,692.0,1318.0,1600.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,1,2500.0,2237.0,636.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,1482.0,1559.0,1756.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
newdataset = dataset.sample(frac = 0.1)
print(newdataset.shape)
newdataset.to_csv("2018.csv")
newdataset.head(10)

(70764, 722)

,DAY,MONTH,DISTANCE,DEP_TIME,ARR_TIME,ORIGIN_ABE,ORIGIN_ABI,ORIGIN_ABQ,ORIGIN_ABR,ORIGIN_ABY,...,DEST_VEL,DEST_VLD,DEST_VPS,DEST_WRG,DEST_WYS,DEST_XNA,DEST_YAK,DEST_YNG,DEST_YUM,ARR_DELAY
1713886,3,4,854.0,1703.0,1826.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6652197,9,12,680.0,1045.0,1139.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1148987,5,3,236.0,534.0,632.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2644098,21,5,325.0,1218.0,1320.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1759224,6,4,135.0,1322.0,1405.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3672878,11,7,370.0,548.0,722.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1666617,1,4,1345.0,1830.0,2011.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
953816,23,2,431.0,1744.0,1937.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2319511,4,5,1276.0,1135.0,1640.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5628948,17,10,337.0,658.0,811.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0